{
    "extends": [
      "@react-native-community",
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "quotes": [2, "double", { "avoidEscape": true }]
    }
  }
  